## Intro to Jupyter notebook
 We can write markdown or python code in our cell.You can choose accordingly in the dropdown above.

In [4]:

print("hello") #hello is the output of the code input
10             #10 is the output of the cell

hello

10

### Variables
To create storage we use vaiables.

Variable name can only start with underscore/lcase/ucase.It cannot be a number

In [11]:
ab_c1=10
_ss=20
# 12sc=89

SyntaxError: invalid decimal literal (2037810040.py, line 3)

### Assigning different type of data to a variables
In case of java it provide fix storage space based on datatype while in python there is flexible space

a=10     # "a" is storing the address of the place where 10 is stored
a=20     # "a" is storing the address of the place where 20 is stored
a="abnc" # "a" is storing the address of the place where "abnc" is stored
a

In [10]:
a="abc"
print(type(a))
a=10
print(type(a))

<class 'str'>
<class 'int'>

### Python Numbers

In [13]:
a1=23
a2=3.4
a3=2+5j
print(type(a1))
print(type(a2))
print(type(a3))
# a1

<class 'int'>
<class 'float'>
<class 'complex'>

### Address/id of a variable

In [16]:
a=10
print(id(a))
a=a+1
print(id(a))
#a

140726528742472
140726528742504

## Aithmetic operation

In [10]:
a=10
b=20
# a*b                               200
# a/b  floating point division      0.5
# a//b integer divion               0
# a**b exponentiation               100000000000000000000
# a%b                               10

In [13]:
#simple interest to lower integer
p=100
r=12
t=2
si=p*r*t//100       #left to right
print(si)
si=t//100*r*p
print(si)
si=(p*r*t)//100   #bracket recommended
print(si)

24
0
24

In [15]:
#farenhiet to celsius
f=100
c=(f-32)*5/9
print(c)
ci=(f-32)*5//9
print(ci)

37.77777777777778
37

## User Input

In [20]:
a=input()
b=input()
c=a+b
print(c)
print(type(a))     #By default input() take "string" as an input

10
20
1020
<class 'str'>

In [26]:
a=int(a)
b=int(b)
c=a+b
print(c)          #now after converting it to int

30

#Another way to take int as input

In [ ]:
a= int(input())